@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3%;
    --foreground: 0 0% 98%;

    --primary: 222 57% 46%;
    --primary-foreground: 222 100% 89%;

    --secondary: 166 57% 41%;
    --secondary-foreground: 0 0% 98%;

    --accent: 222 100% 89%;
    --accent-foreground: 222 57% 46%;

    --muted: 0 0% 98%;
    --muted-foreground: 0 0% 3%;

    --border: 0 0% 98%;
    --input: 0 0% 98%;
    --ring: 222 57% 46%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

